@using DNG.Library.Models


<div class="console-logger-container">
    <div class="console-header" @onclick="ToggleVisibility">
        <span>@(IsVisible ? "Hide Logger" : "Show Logger")</span>
    </div>

    @if (IsVisible)
    {
        <div class="console-content" style="height:@($"{ConsoleHeight}px")">
            <pre>
    Belt Type:                  @DrawingNumber.BeltTypeCode
    Belt Series:                @DrawingNumber.BeltSeriesCode
    Color:                      @DrawingNumber.ColorCode
    Material:                   @DrawingNumber.MaterialCode
    Adder Material:             @DrawingNumber.AdderMaterialCode
    Rod Material:               @DrawingNumber.RodMaterialCode
    Belt Width:                 @DrawingNumber.BeltWidthCode
    Flights/Rollers/Grip:       @DrawingNumber.FlightsRollersGripsCode
    Qty. Rollers:               @DrawingNumber.QtyRollersAcrossWidth
    F/R/G Centers:              @DrawingNumber.FRGCenters
    Belt Accessories:           @DrawingNumber.BeltAccessoriesCode
    Friction/Anti Static:       @DrawingNumber.FrictionAntiStaticCode
    Side-PL/Lane-DV:            @DrawingNumber.SidePLLaneDVCode
    Unique Identification:      @DrawingNumber.UniqueIdentification
    Indent Code:                @DrawingNumber.IndentCode
                </pre>
        </div>

    }
</div>

@code {
    [Parameter]
    public DrawingNumber DrawingNumber { get; set; }

    private bool IsVisible { get; set; } = true;
    private int ConsoleHeight { get; set; } = 425; // default height

    private void ToggleVisibility()
    {
        IsVisible = !IsVisible;
    }
}
