@using DNG.Library.Data
@using DNG.Library.Models
@using Microsoft.AspNetCore.Components.Forms
@using global::DrawingNumberGenerator.Library.Models
@inject IJSRuntime JSRuntime
@inject IDrawingNumber DrawingNumber

<EditForm Model="@drawingRequest" OnValidSubmit="GenerateDrawingNumber">

    <script>
        function selectAllText(element) {
            setTimeout(function() {
                element.select();
            }, 0);
        }
    </script>
    
    <DrawingFormContainer drawingRequest="@drawingRequest">
        <FormContent>
            <h3 class="text-center bg-success text-light p-2">Belt Information Section</h3>

            <!-- Belt Type Component -->
            <div class="input-group  mb-3">
                <label class="input-group-text" for="beltType">Type</label>

                <!-- Autocomplete input for Belt Type -->
                <input list="beltTypes" id="beltType"
                    @onblur="HandleInput"
                       @bind="drawingRequest.BeltType"
                       class="form-control form-control-sm" required autofocus />

                <!-- Datalist providing options -->
                <datalist id="beltTypes">
                    @foreach (var type in beltTypes)
                    {
                        <option value="@type">@type</option>
                    }
                </datalist>
                
                <span class="input-group-text">@BeltType.GetNameByCode(drawingRequest.BeltType, BeltType.Options)</span>
            </div>

            <!-- Belt Series Component -->
            <div class="input-group  mb-3">
                <label class="input-group-text" for="beltSeries">Series</label>

                <!-- Autocomplete input for Belt Series -->
                <input list="beltSeriesList" id="beltSeries"
                       @onblur="HandleInput"
                       @bind="drawingRequest.BeltSeries"
                       class="form-control form-control-sm"
                        required autofocus />

                <!-- Datalist providing options -->
                <datalist id="beltSeriesList">
                    @foreach (var series in beltSeries)
                    {
                        <option value="@series">@series</option>
                    }
                </datalist>
                <span class="input-group-text">@BeltSeries.GetBeltSeriesType(drawingRequest.BeltSeries)</span>
                
            </div>

            @* Material Color Component with Autocomplete *@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="color">Color</label>

                <!-- Autocomplete input for Color -->
                <input list="colorList" id="color"
                       @onblur="HandleInput"
                       @bind="drawingRequest.Color"
                       class="form-control form-control-sm" required autofocus />

                <!-- Datalist providing options -->
                <datalist id="colorList">
                    @foreach (var color in colors)
                    {
                        <option value="@color">@color</option>
                    }
                </datalist>
                
                <span class="input-group-text">@MaterialColor.GetCodeByName(drawingRequest.Color, MaterialColor.Options)</span>
            </div>

            <!-- Belt Material Component -->
            <div class="input-group  mb-3">
                <label class="input-group-text" for="material">Material</label>

                <!-- Autocomplete input for Material -->
                <input list="materialsList" id="material"
                       @onblur="HandleInput"
                       @bind="drawingRequest.Material"
                       class="form-control form-control-sm" required autofocus />

                <!-- Datalist providing options -->
                <datalist id="materialsList">
                    @foreach (var material in materials)
                    {
                        <option value="@material">@material</option>
                    }
                </datalist>
                <span class="input-group-text">@BeltMaterial.GetCodeByName(drawingRequest.Material, BeltMaterial.Options)</span>
               
            </div>

            <!-- AdderMaterial Component -->
            <div class="input-group  mb-3">
                <!-- Autocomplete input for Adder Material -->
                <label class="input-group-text" for="adderMaterial">Adder Material</label>

                <input list="adderMaterialsList" id="adderMaterial"
                       @onblur="HandleInput"
                       @bind="drawingRequest.AdderMaterial"
                       class="form-control form-control-sm"  required autofocus />

                <!-- Datalist providing options -->
                <datalist id="adderMaterialsList">
                    @foreach (var adder in adderMaterials)
                    {
                        <option value="@adder">@adder</option>
                    }
                </datalist>
                <span class="input-group-text">@AdderMaterial.GetCodeByName(drawingRequest.AdderMaterial, AdderMaterial.Options)</span>

            </div>

            <!-- RodMaterial Component -->
            <div class="input-group  mb-3">
                <label class="input-group-text" for="rodMaterial">Rod</label>

                <!-- Autocomplete input for Rod Material -->
                <input list="rodMaterialsList" id="rodMaterial"
                       @onblur="HandleInput"
                       @bind="drawingRequest.RodMaterial"
                       class="form-control form-control-sm"  required autofocus />

                <!-- Datalist providing options -->
                <datalist id="rodMaterialsList">
                    @foreach (var rod in rodMaterials)
                    {
                        <option value="@rod">@rod</option>
                    }
                </datalist>
                <span class="input-group-text">@RodMaterial.GetCodeByName(drawingRequest.RodMaterial, RodMaterial.Options)</span>
            </div>

            @*Width*@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="beltWidth">Width (inches)</label>

                <InputNumber @onblur="HandleInput"
                             id="beltWidth"
                             aria-required="true"
                             aria-describedby="beltWidthHelp"
                             @bind-Value="drawingRequest.BeltWidth"
                             Min="1"
                             Max="999"
                             class="form-control text-center"
                             onfocus="selectAllText(this)" />
            
                <span class="input-group-text">@DrawingNumber.BeltWidthCode</span>

            </div>

            <h3 class="text-center bg-success text-light p-2">Flights/Rollers/Grip Section</h3>

            @* Flights/Rollers/Grip *@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="flightsRollersGrip">Flights/Rollers/Grip</label>

                <!-- Autocomplete input for Flights/Rollers/Grip -->
                <input list="flightsRollersGripList" id="flightsRollersGrip"
                       @onblur="HandleInput"
                       @bind="drawingRequest.FlightsRollersGrip"
                       class="form-control form-control-sm"  required />

                <!-- Datalist providing options -->
                <datalist id="flightsRollersGripList">
                    @foreach (var type in flightsRollersGrips)
                    {
                        <option value="@type">@type</option>
                    }
                </datalist>
                <span class="input-group-text">@DrawingNumber.FlightsRollersGripsCode</span>
            </div>

            @*Qty Rollers Width*@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="qtyRollersAcrossWidth">Qty. Rollers Width</label>

                <InputNumber id="qtyRollersAcrossWidth"
                             aria-required="true"
                             aria-describedby="qtyRollersAcrossWidthHelp"
                             @onblur="HandleInput"
                             @bind-Value="drawingRequest.QtyRollersAcrossWidth"
                             Min="1"
                             Max="20"
                             class="form-control text-center"
                             disabled
                             onfocus="selectAllText(this)" />
                <span class="input-group-text">@DrawingNumber.QtyRollersAcrossWidth</span>
            </div>

            @*F/R/G Centers*@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="frgCenters">F/R/G Centers</label>

                <InputNumber id="frgCenters"
                             aria-required="true"
                             aria-describedby="frgCentersHelp"
                             @onblur="HandleInput"
                             @bind-Value="drawingRequest.FRGCenters"
                             Min="1"
                             Max="100"
                             class="form-control text-center"
                             disabled
                             onfocus="selectAllText(this)" />

                <span class="input-group-text">@DrawingNumber.FRGCenters</span>

            </div>

            <h3 class="text-center bg-success text-light p-2">Belt Accessories Section</h3>

            @* Belt Accessories *@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="beltAccessories">Accessories</label>

                <!-- Autocomplete input for Belt Accessories -->
                <input list="beltAccessoriesList" id="beltAccessories"
                       @onblur="HandleInput"
                       @bind="drawingRequest.BeltAccessories"
                       class="form-control form-control-sm"  required />

                <!-- Datalist providing options -->
                <datalist id="beltAccessoriesList">
                    @foreach (var accessory in beltAccessories)
                    {
                        <option value="@accessory">@accessory</option>
                    }
                </datalist>

                <span class="input-group-text">@DrawingNumber.BeltAccessoriesCode</span>
            </div>

            @* Friction/Anti Static *@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="frictionAntiStatic">Friction/Anti Static</label>

                <!-- Autocomplete input for Friction/Anti Static -->
                <input list="frictionAntiStaticList" id="frictionAntiStatic"
                       @onblur="HandleInput"
                       @bind="drawingRequest.FrictionAntiStatic"
                       class="form-control form-control-sm"  required />

                <!-- Datalist providing options -->
                <datalist id="frictionAntiStaticList">
                    @foreach (var type in frictionAntiStatics)
                    {
                        <option value="@type">@type</option>
                    }
                </datalist>
                <span class="input-group-text">@DrawingNumber.FrictionAntiStaticCode</span>

            </div>

            @* Side-PL/Lane-DV Component with Autocomplete *@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="sidePLLaneDV">Side-PL/Lane-DV</label>

                <!-- Autocomplete input for Side-PL/Lane-DV -->
                <input list="sidePLLaneDVList" id="sidePLLaneDV"
                       @onblur="HandleInput"
                       @bind="drawingRequest.SidePLLaneDV"
                       class="form-control form-control-sm"  required />

                <!-- Datalist providing options -->
                <datalist id="sidePLLaneDVList">
                    @foreach (var type in sidePLLaneDVs)
                    {
                        <option value="@type">@type</option>
                    }
                </datalist>
                <span class="input-group-text">@SidePLLaneDV.GetCodeByName(drawingRequest.SidePLLaneDV, SidePLLaneDV.Options)</span>

            </div>


            <h3 class="text-center bg-success text-light p-2">Unique Identification Section</h3>


            <div class="input-group  mb-3">
                <label class="input-group-text" for="uniqueIdentification">Unique ID</label>

                <InputText id="uniqueIdentification"
                           aria-required="true"
                           aria-describedby="uniqueIdentificationHelp"
                           @bind-Value="drawingRequest.UniqueIdentification"
                           class="form-select form-select-sm"
                           minlength="1"
                           maxlength="2"
                           onfocus="selectAllText(this)" />
                

            </div>

            @* Indent Code Component with Autocomplete *@
            <div class="input-group  mb-3">
                <label class="input-group-text" for="indentCode">Indent Code</label>

                <!-- Autocomplete input for Indent Code -->
                <input list="indentCodeList" id="indentCode"
                       @onblur="HandleInput"
                       @bind="drawingRequest.IndentCode"
                       class="form-control form-control-sm" required />

                <!-- Datalist providing options -->
                <datalist id="indentCodeList">
                    @foreach (var type in indents)
                    {
                        <option value="@type">@type</option>
                    }
                </datalist>
                <span class="input-group-text">@DrawingNumber.IndentCode</span>

            </div>


    </FormContent>
    </DrawingFormContainer>

</EditForm>